<div class="user-auth">
  <div *ngIf="!showLogin" class="sign-up">
    <h1>User Signup</h1>
    <form [formGroup]="signUpForm" class="common-form" (ngSubmit)="signUp()">
      <input type="text" class="form-input" placeholder="Enter User Name" formControlName="userName" />
      <p class="invalid-input"><span
            *ngIf="signUpForm.get('userName')?.invalid && signUpForm.get('userName')?.touched">Please enter UserName
            input</span></p>
      <input type="text" class="form-input" placeholder="Enter User Email" formControlName="email" />
      <p class="invalid-input"><span
            *ngIf="signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched">Please enter Email
            input</span></p>
      <input type="password" class="form-input" placeholder="Enter User Password" formControlName="password" />
      <p class="invalid-input"><span
            *ngIf="signUpForm.get('password')?.invalid && signUpForm.get('password')?.touched">Please enter Password
            input</span></p>
      <button class="form-button" [disabled]="signUpForm.invalid">Sign Up</button>
      <p>Already Have Account ? <a (click)="openLogin()">Click Here</a></p>
    </form>
  </div>
  <div *ngIf="showLogin" class="login">
    <h1>Login</h1>
    <form [formGroup]="loginForm" class="common-form" (ngSubmit)="login()">
      <p class="error-p">{{ authError }}</p>
      <input type="text" class="form-input" placeholder="Enter UserName" formControlName="username" />
      <p class="invalid-input"><span
          *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">Please enter Username
          input</span></p>
      <input type="password" class="form-input" placeholder="Enter User Password" formControlName="password" />
      <p class="invalid-input"><span
          *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">Please enter Password
          input</span></p>
      <button class="form-button" [disabled]="loginForm.invalid">Login</button>
      <p>Want to Create Account ? <a (click)="openSignUp()">Click Here</a></p>
    </form>
</div>

  </div>