<div class="seller-auth">
  <div *ngIf="!showLogin" class="sign-up">
    <h1>Seller Sign-Up</h1>
    <form [formGroup]="sellerSignUpForm" (ngSubmit)="signUp()" class="common-form">
      <input class="form-input" type="text" formControlName="userName" placeholder="Enter UserName">
      <input class="form-input" type="email" formControlName="email" placeholder="Enter Email">
      <input class="form-input" type="password" formControlName="password" placeholder="Enter Password">
      <button class="form-button" [disabled]="sellerSignUpForm.invalid">Sign Up</button>
      <a class="auth-toggle-link" (click)="openLogin()">Already have Account? Click to Login</a>
    </form>
  </div>
  <div *ngIf="showLogin" class="login">
    <h1>Seller Login</h1>
    <p class="error-p">{{authError}}</p>
    <form [formGroup]="sellerLoginForm" (ngSubmit)="login()" class="common-form">
      <input class="form-input" type="username" formControlName="username" placeholder="Enter UserName">
      <input class="form-input" type="password" formControlName="password" placeholder="Enter Password">
      <button class="form-button" [disabled]="sellerLoginForm.invalid">Login</button>
      <a class="auth-toggle-link" (click)="openSignUp()">You dont have Account? Click to Sign Up</a>
    </form>
  </div>
</div>