<div class="user-auth">
    <div *ngIf="!showLogin" class="sign-up">
      <h1>User Signup</h1>
      <form [formGroup]="userSignUpForm" class="common-form" (ngSubmit)="signUp()">
        <input type="text" class="form-input" placeholder="Enter User Name" formControlName="name" />
        <input type="text" class="form-input" placeholder="Enter User Email" formControlName="email" />
        <input type="password" class="form-input" placeholder="Enter User Password" formControlName="password" />
        <button class="form-button" [disabled]="userSignUpForm.invalid">Sign Up</button>
        <p>Already Have Account ? <a (click)="openLogin()">Click Here</a></p>
      </form>
    </div>
    <div *ngIf="showLogin" class="login">
      <h1>User Login</h1>
      <form [formGroup]="userLoginForm" class="common-form" (ngSubmit)="login()">
        <p class="error-p">{{ authError }}</p>
        <input type="text" class="form-input" placeholder="Enter User Email" formControlName="email" />
        <p class="invalid-input"><span *ngIf="userLoginForm.get('email')?.invalid && userLoginForm.get('email')?.touched">Please enter valid input</span></p>
        <input type="password" class="form-input" placeholder="Enter User Password" formControlName="password" />
        <p class="invalid-input"><span *ngIf="userLoginForm.get('password')?.invalid && userLoginForm.get('password')?.touched">Please enter valid input</span></p>
        <button class="form-button" [disabled]="userLoginForm.invalid">Login</button>
        <p>Want to Create Account ? <a (click)="openSignUp()">Click Here</a></p>
      </form>
    </div>
  </div>
  