<div class="add-product">
    <h1>Add New Product</h1>
    <p class="message-p">{{ addProductMessage }}</p>
    <form [formGroup]="addProductForm" (ngSubmit)="submit()" class="common-form">
        <input type="text" class="form-input" placeholder="Enter Product Name" formControlName="name" />
        <input type="text" class="form-input" placeholder="Enter Product Price" formControlName="price" />
        <input type="text" class="form-input" placeholder="Enter Product Category" formControlName="categoryId" />
        <input type="text" class="form-input" placeholder="Enter Product Color" formControlName="color" />
        <textarea type="text" class="form-input" placeholder="Enter Product Description" formControlName="description"></textarea>
        <input type="text" class="form-input" placeholder="Enter Product Image URL" formControlName="image" />
        <button class="form-button" [disabled]="addProductForm.invalid">Add Product</button>
    </form>
</div>
